body{
  background-color: #000;
}

.main-display{
  background: url('../img/marimba.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
}



/*.main-display{
  height: 70%;
}


.bg {
  background: url('../img/marimba.jpg') no-repeat center 0px;
  position: fixed;
  background-size: 100% auto;
  width: 100%;
  height: inherit; /*same height as jumbotron 
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: inherit;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}*/


.maxfangx{
	font-family: 'Rock Salt', cursive;
}
.maxfang{
	color: #FFF;
}
.x{
	color: #F00;
}

