body{
  background-color: #000;
  margin: 0px;
}

h1{
  color: #FFF;
}

.main-display{
  background-size: cover;
  height: 45vw;
  position: relative;
  overflow: hidden;
}

h1.maxfangx{
  display: inline-block;
  margin-top: 40px;
  margin-left: 6%;
}

.maxfangx{
	font-family: 'Rock Salt', cursive;
  font-size: 4vw;
}
.maxfang{
	color: #FFF;
}
.x{
	color: #F00;
}

.foreground{
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: -1;
  opacity: 1;
}

.background{
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: -2;
}

.backdrop{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.slide-control{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 5%;
  height: 45vw;
}

.slide-left{
  left: 0px;
/*  background-image: linear-gradient(
    to right,
    rgba(255,255,255,.25) 0,
    rgba(255,255,255,.0001) 100%);*/
}

.slide-right{
  right: 0px;
/*  background-image: linear-gradient(
    to left,
    rgba(255,255,255,.25) 0,
    rgba(255,255,255,.0001) 100%);*/
}

.slide-left:hover{
  background-image:linear-gradient(
    to right,
    rgba(255,255,255,.25) 0,
    rgba(255,255,255,.0001) 100%);
}

.slide-right:hover{
  background-image:linear-gradient(
    to left,
    rgba(255,255,255,.25) 0,
    rgba(255,255,255,.0001) 100%);
}

.chevron{
  color: #FFF;
  position: absolute;
  top: 45%; /*Positions icon in middle, should be half of .main-display height*/
  font-size: 4vw; /*Changes favicon size*/
}

.chevron-left{
  left: 0px;
}
.chevron-right{
  right:0px;
}

.indicator-wrapper{
  color: #FFF;
  position: absolute;
  bottom: 20px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  font-size: 18px;
  text-align: center;
}

.indicator-wrapper > span:hover{
  color: #000;
}


.panel-wrapper{
  text-align: center;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.panel{
  display: inline-block;
  margin-left: 5px;
  width: 200px;
  height: 125px;
}


*/ */ */ */
