h1 {
    font-family: 'Seaweed Script', cursive;
    font-size: 100px;
}
@media(max-device-width: 480px){
    h1 {
        font-size: 85px;
    }
}

h2, h3, h4, h5, h6, a, p {
    font-family: 'Droid Serif', serif;
}

h3 {
    font-size: 26px;
}

p, a {
    font-size: 16px;
}

section {
  margin-top: 3rem;
  border-top: 1px solid #000
}

subsection {
  margin-left: 10px;
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
}

.avatar {
    max-width: 20em;
    border-style: solid;
    border-width: 2px;
}

.subtitle {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content {
    position: relative;
    margin: 20px
}
